<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://resize.elle.fr/original/var/plain_site/storage/images/loisirs/livres/news/voici-le-livre-le-plus-vendu-en-france-en-2022-et-ce-n-est-pas-un-roman-4085975/98031195-1-fre-FR/Voici-le-livre-le-plus-vendu-en-France-en-2022-et-ce-n-est-pas-un-roman.jpg);">
  <div class="container">
    <h1><strong>Find books and borrow from neighbors</strong></h1>
  </div>
</div>

<div class="container">
   <!-- Votre contenu ici -->
  <div class="row"> <!-- Commence une nouvelle ligne après chaque troisième carte -->
    <% @books.each_with_index do |book, index| %>
      <div class="col-3 mb-4">
        <div class="d-flex flex-column h-100">
          <img class="card-img-top card_img" src="<%= book.book_picture %>" alt="Book image"> <!-- Assurez-vous que votre modèle fournit une URL pour l'image -->
          <div class="flex-grow-1 d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title"><%= book.title %></h5> <!-- Utilisez les données du livre pour remplir le titre -->
              <p class="card-text">Author: <%= book.author %></p> <!-- Utilisez les données du livre pour remplir l'auteur -->
            </div>
              <a href="<%= book_path(book) %>" class="button_card" style="text-decoration: none;">Details</a>            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
