<h1>My books</h1>
<% @books.each do |book| %>
  <div>
    <h3><%= link_to book.title, book_path(book) %></h3>
    <p>Author: <%= book.author %></p>
    <%= image_tag(book.book_picture, alt: book.title) %>
  </div>
<% end %>
<%= link_to "Add a book", new_book_path %>
