#show-image-container {
  display: flex;
  justify-content: start;
}

.rounded-custom {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-group-item {
  padding-left: 0;
}

.card-body {
  padding-left: 10;
}
