
 /* Permet aux cartes de passer à la ligne si nécessaire */
// .card_img {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   padding: 16px;
//   // flex-grow: ;
//   width: 100%;
//   object-fit: cover;
//   border-radius: 4%;
//   height: 300px;
// }

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.book-card {
}
