.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.book-card {
  width: 200px;
  height: 400px;
  perspective: 1000px;
}

.book-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.book-card:hover .book-card-inner {
  transform: rotateY(180deg);
}

.book-card-front,
.book-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  border-radius: 8px;
  height:400px;
}

.book-card-front {
  transform: rotateY(0deg);
}

.book-card-back {
  transform: rotateY(180deg);
}

.book-card-back p {
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
